@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fell free to contact us)<br />
    Gmail: some_mail@gmail.com<br />
    <abbr title="Phone">380...</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:klymenkowolodymyr@gmail.com">Support@example.com</a><br />
</address>