@{
    ViewBag.Title = "Home Page";
}

 <br />
 <br />

<div class="jumbotron" style="border-radius:10px; text-align:center;">
    @ViewBag.Greeting, world.
    <p>We are going to have an exciting party.</p>

    @Html.ActionLink("RSVP now", "RsvpForm")
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />